<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Milestone CMS Utility</title>
</head>
<body>
    <h1>Welcome to Milestone CMS Utility!</h1>
    <ul>
        <li><a href="/project/1">Project 1</a></li>
        <li><a href="/project/2">Project 2</a></li>
        <li><a href="/project/3">Project 3</a></li>
    </ul>
    <br>
    <form action="/add/project" method="POST">
        <div>
            Project Name: <input type="text" name="project-title">
            <br>
            <input type="submit" value="Add Project">
        </div>
    </form>
</body>
</html>
